{extends file="admin-layout.tpl"}

{block name="check-auth"}
    {check_auth role="ADMIN" module="Mailjet" access="UPDATE" login_tpl="/admin/login"}
{/block}

{block name="no-return-functions"}
    {$admin_current_location = 'modules'}
{/block}

{block name="check-resource"}admin.module.mailjet{/block}
{block name="check-access"}view{/block}

{block name="page-title"}{intl l='Configuration Mailjet'}{/block}

{block name="main-content"}
<div class="row">
    <div class="col-md-12 general-block-decorator">
        <div class="title">
            {intl d="mailjet.bo.default" l="Configure mailjet"}
        </div>

        {if $success|default:false}
        <div class="alert alert-success">
            {intl l="Configuration correctly saved" d="mailjet.bo.default"}
        </div>
        {/if}

        {form name="mailjet_configuration"}
        <form action="{$current_url}" method="post">
            {include "includes/inner-form-toolbar.html" hide_flags = 1 close_url={url path='/admin/modules'}}
            <br/>

            {render_form_field field="success_url" value={url path='/admin/module/Mailjet'}}
            {render_form_field field="error_url" value={url path='/admin/module/Mailjet'}}

            {form_hidden_fields}

            {render_form_field field="api_key"}
            {render_form_field field="api_secret"}
            {render_form_field field="ws_address"}
            {render_form_field field="newsletter_list"}
            {render_form_field field="exception_on_errors"}

            {include "includes/inner-form-toolbar.html" hide_flags = 1 close_url={url path='/admin/modules'} page_bottom = 1}
        </form>
        {/form}
    </div>
</div>
{/block}
