<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="mailjet.configuration" class="Mailjet\Form\MailjetConfigurationForm" />
        <form name="mailjet.contact.list" class="Mailjet\Form\MailjetContactListConfigurationForm" />
    </forms>

    <loops>
        <loop name="contact.list.loop" class="Mailjet\loop\MailjetContactListLoop" />
    </loops>

    <services>
        <service id="contact.list" class="Mailjet\Service\ContactListService">
        </service>

        <service id="action.mailjet.newsletter" class="Mailjet\EventListeners\NewsletterListener">
            <argument type="service" id="thelia.translator" />
            <argument type="service" id="request" />
            <argument type="service" id="contact.list" />
            <tag name="kernel.event_subscriber" />
        </service>
    </services>

    <hooks>
        <hook id="mailjet.configuration.hook" class="Mailjet\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
        </hook>
    </hooks>
</config>